.container{
    background-image:url('../../../public/background.jpg');
    height: 90vh;

}
.apresentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto 2rem;
    color: var(--white);
}
.apresentation .h2{
    margin: 10rem auto 2rem;
    padding: 2rem auto;
    max-width: 700px;
}

.apresentation .p{
    margin: 2rem auto;
    padding: 2rem auto;
    max-width: 600px;
}